<a href="https://colab.research.google.com/github/Tanvir000Tonoy/DataScience-Research/blob/main/Weekly-HomeWork/Class02_Try_it_yourself.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Weekly Assignments : Class02** #

## 2.1 Try it yourself

In [ ]:
name = "Tanvir Rahman Tonoy"
age = 20
Favorite_color = "Black"
print(f"There was a boy called {name} who's favorite color was {Favorite_color} and he was {age} years old")

There was a boy called Tanvir Rahman Tonoy who's favorite color was Black and he was 20 years old

## 2.2 Try it yourself

In [ ]:
# Data types examples
# String :
Book_Title = "Atomic Habits "
Author = 'James Clear'
Book = Book_Title + Author
print(Book)
print(type(Book))

#Numbers
My_capital = 96000000  # Fixed: removed commas to make it a proper integer
print(type(My_capital))

#Boolean
Am_I_rich = True
print(type(Am_I_rich))

# Null
zero_devided_something = None
print(type(zero_devided_something))

Atomic Habits James Clear
<class 'str'>
<class 'tuple'>
<class 'bool'>
<class 'NoneType'>

## 2.3 Try it yourself : Calculating are and perimeter of a retangle with length 7 and width 5

In [ ]:
length = 7
width = 5
# area
area = length*width

# perimeter
perimeter = 2*(length+width)

print(f"The provided rectangle has the area of {area} squre unit and the perimeter is about {perimeter} unit")

The provided rectangle has the area of 35 squre unit and the perimeter is about 24 unit

## 2.4 Try it yourself: Create a list of 5 Bangladeshi foods, then access the first and last elements

In [ ]:
Bangladeshi_Foods = ["Panta bhat","Chotpoti","iLish vahja","Khichuri","Bhapa pitha"]
first_element = Bangladeshi_Foods[0]
last_element = Bangladeshi_Foods[-1]
print(f"The first element of the list is {first_element} and the last element is {last_element}")
#

The first element of the list is Panta bhat and the last element is Bhapa pitha

## 2.5 Try it yourself: Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [ ]:
number_list = [1,2,3,4,5]
number_list.append(6)
number_list.remove(3)
number_list.sort()
print(number_list)
#

[1, 2, 4, 5, 6]

## 2.6 Try it yourself: Create a dictionary about yourself with at least 4 key-value pairs.##

In [10]:
status = "paid"

info_tanvir_r_tonoy = {
    "Student_Id" : "SM-DS-2025-B1-0114",
    "Name" : "Tanvir Rahman Tonoy",
    "age" : 20,
    "Course_enrolled" : "Research through Data Science (ML, DL, FL)",
    "Course_fee" : status
}
print(info_tanvir_r_tonoy['Student_Id'])
print(info_tanvir_r_tonoy['Course_enrolled'])
print(info_tanvir_r_tonoy['Course_fee'])
#

SM-DS-2025-B1-0114
Research through Data Science (ML, DL, FL)
paid

## 2.7 Try it yourself: Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [11]:
example_tuple = ("The Parliament of Bangladesh", 23.7907, 90.3715)
print(example_tuple)

('The Parliament of Bangladesh', 23.7907, 90.3715)

## 2.8 Try it yourself: Create two sets of colors and find their union and intersec

In [13]:
setA = {"red","green","blue"}
setB = {"yellow","gray","blue"}
unionSet = setA.union(setB)
print(unionSet)
#

intersectionSet = setA.intersection(setB)
print(intersectionSet)

{'green', 'gray', 'blue', 'red', 'yellow'}
{'blue'}

## 2.9 Try it yourself: Write a program that checks if a number is positive, negative, or zero.

In [16]:
user_input = input("Enter a number: ")
if(user_input.isdigit()):
    user_input = int(user_input)
    if(user_input > 0):
        print("The number is positive")
    elif(user_input < 0):
        print("The number is negative")
    else:
        print("The number is zero")
else:
  print("Please enter a number")

Enter a number: 100
The number is positive

## 2.10 Try it yourself: Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60)

In [46]:
isStudent = input("Are you a student: (Yes/No) ").lower()
def is_not_integer(isStudent):
    try:
        int(isStudent)  # Attempt to convert to an integer
        return False  # If successful, it is an integer
    except ValueError:
        return True
if(is_not_integer(isStudent)):
  age = int(input("Enter Your age: "))
  # Removed redundant if(True) condition
    if((isStudent == "yes") and (int(age) <= 25)):
        print("You are eligible for a discount")
    elif((isStudent == "no") and (int(age) >= 60)):
        print("You are eligible for a discount")
    else:
        print("You are not eligible for a discount")
else:
  print("Please enter a valid input ! ")

Are you a student: (Yes/No) 100
Please enter a valid input !

## 2.11 Try it yourself : write. a program that prints the first 10 even numbers using a for or while lop

In [56]:

for x in range(10):
    x +=1
    print(2*x)

2
4
6
8
10
12
14
16
18
20

## 2.12 Try it yourself: Write a program that prints a simple number pyramid pattern using nested loops.

In [66]:
def print_pyramid(rows):
    """
    Prints a pyramid pattern of stars.

    Args:
        rows (int): The number of rows for the pyramid.
    """
    for i in range(1, rows + 1):
        # Print leading spaces
        print(" " * (rows - i), end="")
        # Print stars
        print("* " * i)

# Example usage:
num_rows = 5
print_pyramid(num_rows)

    *
   * *
  * * *
 * * * *
* * * * *

## 2.13 Try it yourself: Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32

In [70]:
def celsius_to_fahrenheit(celsius):
  """Converts Celsius to Fahrenheit.

  Args:
    celsius: Temperature in Celsius.

  Returns:
    Temperature in Fahrenheit.
  """
  fahrenheit = (celsius * 9/5) + 32
  return fahrenheit

# Example usage
celsius_temp = float(input("Enter Temperature in Celsius: "))
fahrenheit_temp = celsius_to_fahrenheit(celsius_temp)
print(f"{celsius_temp} Celsius is equal to {fahrenheit_temp} Fahrenheit")

Enter Temperature in Celsius: 25
25.0 Celsius is equal to 77.0 Fahrenheit

## 2.14 Try it yourself: Create a function with default parameters that calculates the area of a rectangle.

In [75]:
length = None
width = None
def area(length = 1, width = 1):
    area = length * width
    return area

area()

1